// color
$color-black: #000;
$color-white: #fff;
$color-gray: #f0f2f5;
$color-gray-100: #929292;
$color-gray-200:#d6d6d6;
$color-gray-300:#2e2e2e;
$color-blue: #0866FF;
// background color
$bg-white: #fff;
$bg-black: #000;
$bg-gray: #f0f2f5;
$bg-gray-100: #929292;
$bg-blue: #0866FF;
// font-weight
$fw-bold-100: 100;
$fw-bold-200: 200;
$fw-bold-300: 300;
$fw-bold-400: 400;
$fw-bold-500: 500;
$fw-bold-600: 600;
$fw-bold-700: 700;
// font-size
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-25: 25px;
$fs-30: 30px;
$fs-40: 40px;
$fs-50: 50px;
// border-radius
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-20: 20px;
$border-radius-25: 25px;
$border-radius-50: 50px;
$border-radius-100: 50%;
// padding
$pd-5: 5px;
$pd-7: 7px;
$pd-10: 10px;
$pd-15: 15px;
$pd-20: 20px;
$pd-30: 30px;
$pd-40: 40px;
$pd-50: 50px;
// margin
$mar-5: 5px;
$mar-10: 10px;
$mar-15: 15px;
$mar-20: 20px;
$mar-25: 25px;
$mar-30: 30px;
$mar-50: 50px;
// gap
$gap-2: 2px;
$gap-3: 3px;
$gap-5: 5px;
$gap-10: 10px;
$gap-15: 15px;
$gap-20: 20px;